<h3 class="alg-c">LISTA DE SOLICITUDES DE LOS EMPLEADOS</h3>
<a routerLink="/admin/home" [routerLinkActive]="['active']" class="custom-tooltip" data-tooltip="Regresar a home"><i
        class="fa-solid fa-left-long btn btn-outline-primary"></i>
</a>
<br>
<br>
<div>
    <div>
        <form [formGroup]="filterForm" (ngSubmit)="saveInfo()" class="row g-2">

            <div class="col-md-4">
                <div class="form-floating">
                    <input type="date" class="form-control" id="f_nacimiento" autocomplete="true"
                        formControlName="start_date" placeholder="Write your fecha">
                    <label for="f_nacimiento">Fecha de inicio*</label>
                    <small *ngIf="validateInput('start_date')" class="form-text text-danger">
                        El campo es requerido
                    </small>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <input type="date" class="form-control" id="f_nacimiento" autocomplete="true"
                        formControlName="end_date" placeholder="Write your fecha">
                    <label for="f_nacimiento">Fecha de término*</label>
                    <small *ngIf="validateInput('end_date')" class="form-text text-danger">
                        El campo es requerido
                    </small>
                </div>
            </div>


            <!-- Modal Button -->
            <div class="col-md-4">
                <button type="submit" [disabled]="filterForm.invalid" class="btn btn-outline-success btn-lg"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    <i class="fa-solid fa-filter"></i> Filtrar datos de búsqueda
                </button>

            </div>

        </form>

    </div>
    <br>

    <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="Search info..." id="searchTerm">
        <span class="toggle-search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>

    <div class="table-responsive" *ngIf="solicitudes.length > 0">
        <table id="tasks" class="table table-striped table-hover table-bordered shadow-lg mt-4 table table-hover"
            style="width:100%">
            <thead class="table-secondary text-white">
                <tr>
                    <th scope="col">NUE</th>
                    <th scope="col">Fecha envio</th>
                    <th scope="col">Hora envio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="getFilteredSolis().length > 0; else noResults">
                <tr *ngFor="let so of getFilteredSolis() | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{so.user.nue}}</td>
                    <!-- <td>{{so.created_at | date: 'dd/MM/yyyy' }}</td> -->
                    <td>{{ formatDateToLocale(so.created_at) }}</td>
                    <td>{{ so.created_at | date: 'HH:mm:ss a' }}</td>
                    <td>
                        <ng-container *ngIf="isImage(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-image"></i> Ver
                                IMG</a>

                        </ng-container>
                        <ng-container *ngIf="isPdf(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-file"></i> Ver
                                PDF</a>

                        </ng-container>
                        <ng-container *ngIf="isDocx(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" download
                                class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-file-word"></i> Descargar DOCX</a>
                        </ng-container>


                        <button class="btn btn-outline-secondary btn-sm" (click)="downloadFileBB(so.id)">
                            <i class="fas fa-fw fa-download"></i> Descargar
                        </button>

                    </td>
                </tr>

            </tbody>
            <ng-template #noResults>
                <tbody>
                    <tr>
                        <td colspan="12" class="text-center">NO RESULTS</td>
                    </tr>
                </tbody>
            </ng-template>

        </table>

        <pagination-controls class="page" (pageChange)="p = $event"></pagination-controls>

    </div>
    <br>
    <div *ngIf="solicitudes.length === 0" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hoops babe!</strong> You still don't have any requests.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

</div>


<!-- Static Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Resultados del filtro</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="table-responsive" *ngIf="solicitudes.length > 0">
                    <table id="tasks"
                        class="table table-striped table-hover table-bordered shadow-lg mt-4 table table-hover"
                        style="width:100%">
                        <thead class="table-secondary text-white">
                            <tr>
                                <th scope="col">NUE</th>
                                <th scope="col">Fecha envio</th>
                                <th scope="col">Hora envio</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let so of filtros | paginate: { itemsPerPage: 5, currentPage: page }">
                                <td>{{so.user.nue}}</td>
                                <td>{{ formatDateToLocale(so.created_at) }}</td>
                                <td>{{ so.created_at | date: 'HH:mm:ss a' }}</td>
                                <td>
                                    <ng-container *ngIf="isImg(so.ruta_archivo)">
                                        <a [href]="so.ruta_archivo" target="blank"
                                            class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-image"></i> Ver
                                            IMG</a>

                                    </ng-container>
                                    <ng-container *ngIf="esPdf(so.ruta_archivo)">
                                        <a [href]="so.ruta_archivo" target="blank"
                                            class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-file"></i> Ver
                                            PDF</a>

                                    </ng-container>
                                    <ng-container *ngIf="esDocx(so.ruta_archivo)">
                                        <a [href]="so.ruta_archivo" target="blank" download
                                            class="btn btn-outline-success btn-sm sep"><i class="fa-solid fa-file-word"></i> Descargar DOCX</a>
                                    </ng-container>


                                    <button class="btn btn-outline-secondary btn-sm"
                                        (click)="downloadFileFilter(so.id)">
                                        <i class="fas fa-fw fa-download"></i> Descargar
                                    </button>

                                </td>
                            </tr>

                        </tbody>


                    </table>

                    <div *ngIf="filtros.length === 0" class="alert alert-success alert-dismissible fade show"
                        role="alert">
                        <strong>Hoops babe!</strong> You still don't have any filters.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                    <pagination-controls class="page" (pageChange)="p = $event"></pagination-controls>

                </div>
                <br>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>