<h3 class="alg-c">LISTA DE SOLICITUDES DE LOS EMPLEADOS</h3>
<a routerLink="/admin/home" [routerLinkActive]="['active']" class="custom-tooltip" data-tooltip="Regresar a home"><i
        class="fa-solid fa-left-long btn btn-outline-primary"></i>
</a>
<div>
    <div class="d-flex justify-content-between">
        <!-- <div class="form-floating col-md-4">
            <input type="date" class="form-control" id="f_nacimiento" autocomplete="true" formControlName="f_nacimiento"
                placeholder="Write your fecha">
            <label for="f_nacimiento">F nacimiento*</label>
            <small *ngIf="validateInput('f_nacimiento')" class="form-text text-danger">
                El campo es requerido
            </small>
        </div> -->

    </div>

    <br>
    <br>

    <div class="input-group">
        <input class="form-control" type="text" [(ngModel)]="searchTerm" placeholder="Search info..." id="searchTerm">
        <span class="toggle-search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </span>
    </div>

    <div class="table-responsive" *ngIf="solicitudes.length > 0">
        <table id="tasks" class="table table-striped table-hover table-bordered shadow-lg mt-4 table table-hover"
            style="width:100%">
            <thead class="table-secondary text-white">
                <tr>
                    <th scope="col">NUE</th>
                    <th scope="col">Fecha envio</th>
                    <th scope="col">Hora envio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody *ngIf="getFilteredSolis().length > 0; else noResults">
                <tr *ngFor="let so of getFilteredSolis() | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{so.user.nue}}</td>
                    <td>{{so.created_at | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ so.created_at | date: 'HH:mm:ss a' }}</td>
                    <td>
                        <ng-container *ngIf="isImage(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" class="btn btn-outline-success btn-sm sep">Ver
                                IMG</a>

                        </ng-container>
                        <ng-container *ngIf="isPdf(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" class="btn btn-outline-success btn-sm sep">Ver
                                PDF</a>

                        </ng-container>
                        <ng-container *ngIf="isDocx(so.ruta_archivo)">
                            <a [href]="so.ruta_archivo" target="blank" download
                                class="btn btn-outline-success btn-sm sep">Descargar DOCX</a>
                        </ng-container>


                        <button class="btn btn-outline-secondary btn-sm" (click)="downloadFileBB(so.id)">
                            <i class="fas fa-fw fa-download"></i> Descargar
                        </button>

                    </td>
                </tr>

            </tbody>
            <ng-template #noResults>
                <tbody>
                    <tr>
                        <td colspan="12" class="text-center">NO RESULTS</td>
                    </tr>
                </tbody>
            </ng-template>

        </table>

        <pagination-controls class="page" (pageChange)="p = $event"></pagination-controls>

    </div>
    <br>
    <div *ngIf="solicitudes.length === 0" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Hoops babe!</strong> You still don't have any requests.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

</div>